
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-space-between">
  <div>
    <a class="navbar-brand" href="#">
      <%= link_to root_path do  %>
        <%= image_tag("logo_knowbook.png", width: 70 , alt: "alttext") %>
      <% end %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
     <!--  <% if user_signed_in? %>
          <%= link_to "All Books", books_path, class: "nav-link" %>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>

      <% end %> -->
    </ul>
  </div>
  <form class="form-inline">
    <%= form_tag books_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a book"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </form>
  <div class="avatar-spot">
    <% if user_signed_in? %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
      </li>
    <% end %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            <%= link_to "My Books", "#", class: "dropdown-item" %>
            <%= link_to "My Favourites", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
  </div>
</nav>
