<div class="container-main">
   <img src="https://images.unsplash.com/photo-1517770413964-df8ca61194a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Online Book Library" id="background-image">
   <div class="title_library"><h1>BOOKS LIBRARY</h1></div>

  <% @books.each do |book| %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_6th_edition/images/cover-web.png" alt="book-cover" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h2><%= book.title %></h2>
          <h4><%= book.author %></h4>
          <h5><%= book.publishing_year %> -- <%= book.average_rating %></h5>
        </div>
      </div>
    </div>
    <p><%= link_to "Details", book_path(book) %></p>
  <% end %>

  <p><%= link_to "Create a New Book?", new_book_path %></p>


  <% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>

  <br />
</div>
