<h1>Here are your books</h1>

<% @books.each do |book| %>
  <ul>
    <li><h3><%= book.title %></h3></li>
    <li><h3><%= book.author %></h3></li>
    <li><h3><%= book.average_rating %></h3></li>

    <p><%= link_to "Details", book_path(book) %></p>
  </ul>
<% end %>

<p><%= link_to "Create a New Book?", new_book_path %></p>


<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />
