<div class="container-main">
  <h1>Here are your books</h1>

  <% @books.each do |book| %>
    <div class="card-book">
      <div class="img-top"></div>
      <div class="book-content">
        <div>
          <h5><%= book.title %></h5>
          <br>
          <p><strong><%= book.author %></strong></p>
          <p id="p-rating"><%= book.publishing_year %> -- <%= book.average_rating %></p>
        </div>
      </div>
    </div>
    <% if policy(book).show? %>
      <p id="btn-details" class="btn"><%= link_to "Details", book_path(book) %></p>
    <% end %>
  <% end %>
  <br>
  <% if policy(Book).new? %>
    <p class="btn"><%= link_to "Create a New Book?", new_book_path %></p>
  <% end %>

  <% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
  <% end %>

  <br />
</div>
