<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<p><%= @book.publishing_year%> -- <%= @book.average_rating %></p>


<div>
  <p class="btn"><%= link_to "Back to all books", books_path %></p>

  <% if policy(@book).destroy? %>
    <p class="btn"><%= link_to "Delete Book", book_path, method: :delete, data: { confirm: "Are you Sure about Deleting this Book?" } %></p>
  <% end %>

  <% if policy(@book).edit? %>
    <p class="btn"><%= link_to "Edit Book", edit_book_path(@book) %></p>
  <% end %>
</div>


  <p class="btn"><%= link_to "Add a Review", book_path(@book) %></p>


<p class="btn"><%= link_to "Add a Rating", new_book_rating_path(@book) %></p>

<% if @book.resume.attached? %>
  <%= link_to "PDF", url_for(@book.resume) %>
<% else %>
  <p>"You have not uploaded a pdf"</p>
<% end %>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>


</table>
