<h1>Resumes#new</h1>
<p>Find me in app/views/resumes/new.html.erb</p>
<% if !@resume.errors.empty? %>
   <div class = "alert alert-error">

      <ul>
         <% @resume.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>

   </div>
<% end %>

<div class = "well">
   <%= form_for @resume, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :attachment %>
      <%= f.input :attachment_cache, as: :hidden %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>
