<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lex-It!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-space-between">
        <div>
          <a class="navbar-brand" href="#">
            <%= image_tag("logo_knowbook.png", width: 70 , alt: "alttext") %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Books</a>
                <a class="dropdown-item" href="#">Classnotes</a>
                <a class="dropdown-item" href="#">News</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Home page</a>
              </div>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul> -->
          <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
        </div>
        <div>
          <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Edit profile</a>
            <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </ul>
        </div>
      </nav>

      <%= yield %>
      <footer>
        <!-- Facebook
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          Twitter
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          Google
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          Linkedin
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          Instagram
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a> -->

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

          <!-- Grid row -->
          <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">KNOW-BOOK</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>Download, buy, sell, lend any book you want on KNOW-BOOK !</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
           <!--  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"> -->

              <!-- Links -->
             <!--  <h6 class="text-uppercase font-weight-bold">Class notes</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">MDBootstrap</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">MDWordPress</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">BrandFlow</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Bootstrap Angular</a>
              </p>

            </div> -->
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Library</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">All books</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">My books</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">My favourites</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contact us</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <i class="fas fa-home mr-3"></i> California, Silicon Valley 10012, US</p>
              <p>
                <a href="mailto:info@knowbook.com?subject=need help"><i class="fas fa-envelope mr-3"></i> info@knowbook.com</a></p>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
          <a class="dark-grey-text" href="https://mdbootstrap.com/education/bootstrap/"> KNOW-BOOK.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </body>
</html>
