<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <title>Lex-It!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
    <body>
      <% unless devise_controller? %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <% unless devise_controller? || action_name == 'show' && controller_name == 'books'%>
      <%= render 'shared/footer' %>
      <% end %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </body>
</html>
